// app global css in SCSS form

.text-c1 {
  color: #202b39;
}
.bg-c1 {
  background-color: #202b39;
}

.text-c2 {
  color: #0c1625
}
.bg-c2 {
  background-color: #0c1625;
}

.text-link {
  color: #0075ff;
}
